In [13]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
customer = pd.read_csv('customer.csv', sep=';')
transaction = pd.read_csv('transaction.csv', sep=';')

In [14]:
transaction = transaction.replace({np.nan: None})
customer = customer.replace({np.nan: None})

In [19]:
transaction['list_price']=transaction['list_price'].str.replace(',','.')
transaction['standard_cost']=transaction['standard_cost'].str.replace(',','.')

In [5]:
import psycopg2 

import psycopg2.extras as extras 
import pandas as pd 


def execute_values(conn, df, table): 

	tuples = [tuple(x) for x in df.to_numpy()] 

	cols = ','.join(list(df.columns)) 
	# SQL query to execute 
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
	cursor = conn.cursor() 
	try: 
		extras.execute_values(cursor, query, tuples) 
		conn.commit() 
	except (Exception, psycopg2.DatabaseError) as error: 
		print("Error: %s" % error) 
		conn.rollback() 
		cursor.close() 
		return 1
	print("the dataframe is inserted") 
	cursor.close() 


conn = psycopg2.connect( 
	database="postgres", user='postgres', password='admin', host='127.0.0.1', port='5432'
)

In [15]:
execute_values(conn, customer, 'module2.customer')

the dataframe is inserted

In [20]:
execute_values(conn, transaction, 'module2.transaction')

the dataframe is inserted